body {
    background: #fff7ee;
    color: #c1cfd6;
    font-family: 'Courier New', Courier, Georgia, 'Times New Roman',
                 Arial, Calibri, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3f5461;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;   /* centers horizontally */
    align-items: center;       /* centers vertically (optional) */
}

header a {
    color: #fff7ee;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}


header .logo a {
    background-image: url("images/Logo.png");
    background-size: 80px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position: relative;
    text-indent: -9999px;
    width: 80px;
    
}

.box {
    background: red;
    width: 100px;
    margin: 20px;
}

h1 {
    font-size: 25px;
}

footer {
    background-color: black;
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 0 20px 0 0;
}
